li a {
    color : green;
}

body {
    background-color: lightgray;
    background-image: url("images/owl-bowler.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
}